th,
td {
    padding: 15px;
}

th {
    text-align: left;
}

#spider {
    width: 100px;
}

p {
    font-family: "Comic Sans", sans-serif, serif;
}

h1 {
    font-family: "Papyrus", sans-serif, serif;
}

body {
    background-color: lightblue;
}